<article
  [routerLink]="['/product', product().id]"
  class="group relative cursor-pointer overflow-hidden rounded-[28px] border border-[#fdd451] bg-[#fdf5d9] text-[#2e2e2e] shadow-sm transition-all duration-300 hover:shadow-lg"
  [ngClass]="viewMode() === 'grid' ? 'pb-4 text-center' : 'grid grid-flow-col grid-rows-1 gap-4 rounded-[28px] p-4 text-left'"
>
  <div
    class="relative overflow-hidden aspect-square"
    [ngClass]="viewMode() === 'grid' ? 'rounded-t-[28px]' : 'rounded-[28px]'"
  >
    <img
      [src]="product().image"
      [alt]="product().name"
      class="h-[400px] w-full object-cover transition-transform duration-300 group-hover:scale-105"
    />

    @if (!product().inStock) {
      <div class="absolute inset-0 flex items-center justify-center bg-black/50">
        <span class="font-semibold text-white">Out of Stock</span>
      </div>
    }

    <button
      type="button"
      class="action-button share absolute top-4 left-4 rounded-full p-2 bg-background/95 backdrop-blur-md shadow-sm backdrop-saturate-150 border border-white/60 flex items-center justify-center transition duration-300 hover:bg-white/90"
      (click)="$event.stopPropagation(); shareProduct()"
    >
      <i class="pi pi-share-alt"></i>
    </button>

    <button
      type="button"
      class="action-button wishlist absolute top-4 right-4 rounded-full p-2 flex items-center justify-center transition duration-300 bg-background/95 backdrop-blur-md shadow-sm backdrop-saturate-150"
      (click)="$event.stopPropagation(); toggleWishlist()"
    >
      <i class="pi pi-heart"></i>
    </button>

    <div class="absolute bottom-4 left-0 right-0 p-3 translate-y-full group-hover:translate-y-0 transition-transform duration-300"> 
      <button type="button" class="action-button add-cart w-full text-xs py-2.5 text-center bg-background/95 backdrop-blur-md shadow-sm backdrop-saturate-150" (click)="$event.stopPropagation(); addToCart()" [disabled]="!product().inStock">
        Add To Cart
      </button>
    </div>
    
  </div>

  <div class="flex h-full flex-col p-4" [ngClass]="viewMode() === 'grid' ? '' : 'text-left'">
    <div class="relative mb-2 min-h-[3.5rem]">
      <h3 class="font-playfair text-xl font-bold text-[#2e2e2e] transition-colors hover:text-[#b08c57]">
        {{ product().name }}
      </h3>
    </div>  
    

    <div class="mt-auto flex items-center justify-between px-4 gap-2 font-montserrat" [ngClass]="viewMode() === 'grid' ? 'justify-center' : 'justify-start'">
      <div class="flex items-center gap-2">
        <span class="text-lg font-bold text-[#b08c57]">₹{{ product().price }}</span>
        @if (product().originalPrice) {
          <span class="text-sm text-red-500 line-through">₹{{ product().originalPrice }}</span>
        }
      </div>
      
      <span class="hover:text-[#b08c57]">
        <i class="pi pi-arrow-right"></i>
      </span>
    </div>
  </div>
</article>
